<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Django</title>
</head>
<body>

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolor sit accusamus accusantium id explicabo, in pariatur voluptatibus quas dicta ipsam, recusandae quia alias optio repellendus ut sunt deleniti? Mollitia deleniti dignissimos voluptatem nobis exercitationem quidem itaque molestiae, tempore consequatur?</h1>

<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat nemo cumque pariatur officiis ea eligendi iusto quisquam quia ad dolorum!</h2>


</body>
</html>