{% extends 'helper.html' %} {% block start %}

<div class="container mt-5">
  <form
    class="col-6 mx-auto card p-3 shadow-lg"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}

    <h2>Add Receipe</h2>
    <hr />
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
      <input name="receipe_name" required type="text" class="form-control" />
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Receipe description</label
      >
      <textarea
        class="form-control"
        name="receipe_description"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Receipe image</label
      >
      <input name="receipe_image" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>

  <hr />

  <table class="table mt-5">
    <div class="container mt-5">
      <div class="mx-auto col-6">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"
              >Search Receipe</label
            >
            <input name="Search" type="text" class="form-control" />
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Receipe Name</th>
          <th scope="col">Receipe description</th>
          <th scope="col">Receipe image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
    </div>
    <tbody>
      {% for receipe in receipes %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{receipe.receipe_name}}</td>
        <td>{{receipe.receipe_description}}</td>
        <td>
          <img src="/media/{{receipe.receipe_image}}" style="height: 200px" />
        </td>
        <td>
          <a href="/delete_receipe/{{receipe.id}}/" class="btn btn-danger m-2"
            >Delete</a
          >
          <a href="/update_receipe/{{receipe.id}}/" class="btn btn-success"
            >Update</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
